@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); /* 引入 Noto Sans 思源黑體 */

html {
    box-sizing: border-box;
    background: #fff;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Noto Sans TC', Tahoma, sans-serif;
}


/* 通用區域 */
h2 {
    color: #800000;
}

.container-fluid {
    padding: 0;
}

/* Header */
.header {
    width: 100%;
    height: 5rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    z-index: 1;
}


.title-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}


.logo {
    height: 3rem;
    width: 3rem;
    white-space: nowrap;
    border-radius: 50%;
    margin-left: 1rem;
}

.logo img {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}


.header-title {
    font-size: 2rem;
    font-weight: bold;
    color: #DAD4B5;
    margin: 0 0.5em;
}

/* nav */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    background-color: #fff;
    border-radius: 0 0 0 35px;
    /* box-shadow: 0px 5px 0px #dedede; */
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}

.nav-item {
    display: inline-block;

}

.nav-link {
    display: block;
    padding: 1vh 1vw;
    text-decoration: none;
    color: #9c9267;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 1vw;
    position: relative;
}

.nav-link,
.nav-link::after,
.nav-link::before {
  transition: all .5s;
}

.nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #982B1C;
    height: 2px;    /* 線條寬度 */
}

.nav-link:hover {
    color: #982B1C;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:visited {
    color: #9c9267; /* 設置與普通連結相同的顏色 */
}

/* 搜尋區域設定 */
.search-container {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    border: 1px solid #DAD4B5;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    width: auto;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* 搜尋框顏色變色 */
}

/* 選定搜尋框 */
.search-container:focus-within {
    border: 1px solid #fff;
    background-color: #9c9267;
    
}

.search-input {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    font-size: 1rem;
    color: #292828;  /* 打字顏色 */
    width: 12vw;
    transition: color 0.3s ease, placeholder-color 0.3s ease; /* 平滑變色 */
}

.search-input::placeholder {
    color: #DAD4B5;                     /* 初始提示文字顏色 */
    transition: color 0.3s ease;    /* 提示文字顏色平滑過渡 */
}

/* 選定搜尋框後提示文字變色 */
.search-container:focus-within .search-input::placeholder {
    color: #DAD4B5;
}

.search-button {
    background: none;
    border: none;
    color: #982B1C;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;
    transition: color 0.3s;
}

.search-button:hover {
    color: #800000;
}

/* 漢堡選單 */
.hamburger-menu {
    display: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #9c9267;
    font-size: 2rem;
    padding: 0 0.3em;
    transition: color 0.3s;
}

/* 漢堡動畫 */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#9c9267;
    stroke-width: 3.5;
    stroke-linecap:round;
}
.ham6 .top {
    stroke-dasharray: 40 172;
}
.ham6 .middle {
    stroke-dasharray: 40 111;
}
.ham6 .bottom {
    stroke-dasharray: 40 172;
}
.ham6.active .top {
    stroke-dashoffset: -132px;
}
.ham6.active .middle {
    stroke-dashoffset: -71px;
}
.ham6.active .bottom {
    stroke-dashoffset: -132px;
}


/* nav 響應式網頁 */
@media (max-width: 960px) {
    .search-button {
        cursor: pointer;
        z-index: 2;
    }

    .search-container {
        position: relative;
        border: none;
        width: auto;
        padding: 0;
    }

    .search-input {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        opacity: 0;
        z-index: 1;
        background-color: #9c9267;
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        transition: width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    }

    .search-container:focus-within {
        background-color: #fff;
        border: none;
        padding: 0;
    }

    .search-container:focus-within .search-input {
        width: 12em;
        padding: 5px 10px;
        opacity: 1;
    }

}

@media (max-width: 767px) {

    .menu-container {
        position: fixed;
        top: 0;
        right: -110%; /* 初始位置在視窗外 */
        height: 100%;
        width: 100%; /* 滑出選單的寬度 */
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 20px;
        z-index: 3;
        transition: right 0.3s ease; /* 平滑滑動效果 */
    }

    .hamburger-menu {
        display: block;
        z-index: 4;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        margin: 6vw auto;
    }

    .nav-item {
        margin: 2vw;
    }

    .nav-link {
        font-size: 1.5em;
    }


    /* 搜尋區域設定 */
    .search-container {
        padding: 5px 10px;
        margin-top: 15vh;
        background-color: #fff;
        border: 1px solid #DAD4B5;
        width: auto;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, border-color 0.3s ease; /* 搜尋框顏色變色 */
    }

    /* 選定搜尋框 */
    .search-container:focus-within {
        border: 1px solid #fff;
        background-color: #9c9267;
        padding: 5px 10px;
    }

    /* 搜尋框輸入樣式 */
    .search-input {
        position: static;
        transform: none;
        width: 70vw; /* 固定搜尋框寬度 */
        opacity: 1; /* 確保搜尋框顯示 */
        border: none;
        outline: none;
        background: none;
        padding: 0;
        font-size: 1.5em;
        box-shadow: none;
    }

    .search-container:focus-within .search-input {
        width: 70vw;
        padding: 0;
    }

    .search-button {
        font-size: 1.5em;
    }


    /* 滑出時顯示選單 */
    .menu-container.active {
        right: 0; /* 滑入視窗 */
    }

}


/* footer */
.footer {
    background-color: #CBC191;
    border-radius: 130px 130px 0 0;  
}



/* 更多資訊 */
.home-more-info {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10vh 3vw 5vh 3vw;  
}

.home-info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;        
    padding: 0;
}

.home-info-list-item {
    position: relative;
    list-style: none; 
    margin: 0;        
    padding: 0;
}

.home-info-icon {
    position: relative;
    display: block;
    margin: 1vw;        
    padding: 0;
    height: 40vh;
    width: auto;
    border-radius: 130px 130px 20px 20px;
    background-color: #aaa;
    transition: all 0.3s;
}

/* 圖片漸層變暗 */
.home-info-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 130px 130px 20px 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    pointer-events: none; /* 確保不影響點擊操作 */
}


.home-info-icon:hover {
    filter: brightness(0.6);
}

.home-info-icon img {
    object-fit: cover;
    border-radius: 130px 130px 20px 20px;
}

.home-info-title {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    text-align: center;
    margin: 2rem auto;
}

.home-info-title a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}



.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 9em;
    font-size: 1rem;
    color: #fff;
    white-space: nowrap;
}

.footer-text p {
    text-align: center;
}


/* 回頂端按鈕 */
.back-to-top {
    display: none; /* 初始隱藏 */
    position: fixed;
    bottom: 10vh;
    right: 5vw;
    font-size: 20px;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    border: 3px solid #982B1C;
    background-color: rgba(255, 255, 255, 0);
    color: #982B1C;
    cursor: pointer;  /* 可點擊 */
    transition: all 0.3s ease;
    z-index: 10;
}

.back-to-top:hover {
    border-color: #9c9267;
    color: #fff;
    background-color: #9c9267;
}

.back-to-top:active {
    border-color: #982B1C;
    background-color: #982B1C;
}

/* 背景圖 */
/*
.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  放置在所有內容後方 
    opacity: 0.8;  調整透明度 
}
*/

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 地圖 */
.location{
    height: auto;
    width: 100%;
    margin: 60px 0 ;
}

.location-title a {
    font-size: 16px; 
    font-family: 'Noto Sans TC', sans-serif !important;
    font-weight: 500; 
    color: #800000; 
    text-decoration: none ;
    padding: 0; 
    margin: 0;   
    transition: all 0.3s; 
}

.location-title:hover a {
    color: #9c9267; 
}

.location-map{
    height: 300px;
    width: 100%;
    border-radius: 12px;
}



